

<div class="row">
    <div class="col-md-4">
        <input type="text" placeholder="From" id="from" class="form-control" />
    </div>
    <div class="col-md-4">
        <input type="text" placeholder="To" id="to" class="form-control" />
    </div>

    <div class="col-md-4">
        <button class="btn btn-dark" id="add-number">Add Number</button>
    </div>
</div>

<ul id="numbers">

</ul>


@section scripts {
    <script src="/js/random-data.js"></script>
}